{% extends ':admin:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Menus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Burger</th>
                <th>Choix</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.choix }}</td>
                <td>{{ menu.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menu_show', { 'id': menu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('menu_edit', { 'id': menu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menu_new') }}">Create a new menu</a>
        </li>
    </ul>
{% endblock %}
