{% extends ':admin:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Boisson</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boisson.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ boisson.nom }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ boisson.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ boisson.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boisson_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('boisson_edit', { 'id': boisson.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
