{% extends ':admin:templateAdmin.html.twig' %}

  {% block content %}
{#
 {% if burger.publish == null %}
     {% for message in app.flashes('brouillon') %}
     <div id="no_publish">
     <div class="ui-pnotify col-sm-2">
          <div class="alert ui-pnotify-container alert-warning ui-pnotify-shadow">
              <div class="ui-pnotify-closer">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
              </div>
              <div class="ui-pnotify-icon">
                  <span class="glyphicon glyphicon-info-sign"></span>
              </div>
             <h4 class="ui-pnotify-title">Info {{ burger.name }}</h4>
              <div class="ui-pnotify-text">{{ message }}</div>   
          </div>    
      </div>
     </div>
     {% endfor %}
 {% else %}
{% endif %}#}

    <h1>Burger</h1>
         
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ burger.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ burger.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ burger.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ burger.price }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ burger.thumbnail }}</td>
            </tr>
            <tr>
                  <tr>
                   {% for burger in burger.ingredient %}
                <th>Ingredient</th>
               
                <td>{{ burger.name }}</td>
                
            </tr>
            {% endfor %}
                <th>Publish</th>
                <td>{% if burger.publish %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('burger_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('burger_edit', { 'id': burger.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block scriptForm %}
     <script type="text/javascript" src="{{asset('js/backend/burger.js')}}"></script>
{% endblock %}