{% extends ':admin:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Categorieboisson</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieBoisson.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieBoisson.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieboisson_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorieboisson_edit', { 'id': categorieBoisson.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
